{% extends 'layout.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard | {{header}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-3">
        <form action="/show_ticket/">
          <input type="text" placeholder="View Ticket.." name="ticket">
        </form>
        <form action="/" method="post">

          <div class="form-field">{{ form.client(value='All Clients')}}
        {{ form.status }}
        {{ form.assigned }}

          {{ form.csrf_token }}
          {{ form.submit }} </div>

        </form>
      </div>
    </div>
  </div>



  <h2>{{ message }}</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Drive ID</th>
          <th>Tag</th>
          <th>Drive Name</th>
          <th>Client</th>
          <th>Serial Num</th>
          <th>Location</th>
          <th>Status</th>
          <th>Assigned</th>
          <th>Last Updated</th>
          <th>Logged In</th>
        </tr>
      </thead>
      <tbody>
        {% for drive in all_tickets %}
          <tr>
            <td> <a href="show_ticket/?ticket={{ticket.id}}"> {{ drive.id }} </a> </td>
            <td> {{ drive.tag }} </td>
            <td> {{ drive.drive_name }} </td>
            {% set client_value = eval(drive.client)[1] %}
            <td> {{ client_value }} </td>
            <td> {{ drive.drive_serial }} </td>
            <td> {{ drive.location }}</td>
            <td> {{ drive.status }} </td>
            {% set assigned = eval(drive.assigned)[1] %}
            <td> {{ assigned }} </td>
            <td> {{ drive.last_update }} </td>
            <td>{{ ticket.logged_in }}</td>
          </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
</main>
</div>
</div>
{% endblock %}
